{
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "plugins": ["@typescript-eslint"],
  "env": {
    "jest": true,
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "@typescript-eslint/quotes": ["error", "double"],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ]
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
