{
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "plugins": ["@typescript-eslint"],
  "env": {
    "jest": true,
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "@typescript-eslint/quotes": ["error", "double"]
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
