.appBar {
  background-image: linear-gradient(rgb(90, 128, 162), rgb(60, 100, 136));
  padding: 10px 8px;
}

.appBar__content {
  width: var(--appBarWidthOfScreen);
  min-width: calc(var(--minContentWidth) * 0.9);
  max-width: calc(var(--maxContentWidth) * 0.9);
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.appBar__logo {
  width: 125px;
  height: 42px;
}

.appBar__profile {
  margin-left: auto;
}
