.appBar {
  height: var(--appBarHeight);
  background-image: linear-gradient(rgb(90, 128, 162), rgb(60, 100, 136));
  padding: 0 8px;
}

.appBar__content {
  width: var(--appBarWidthOfScreen);
  height: 100%;
  min-width: calc(var(--minContentWidth) * 0.9);
  max-width: calc(var(--maxContentWidth) * 0.9);
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.appBar__logo {
  width: 125px;
  height: var(--logoHeight);
  margin: 10px 0;
}

.appBar__rightContainer {
  display: flex;
  height: 100%;
  flex-direction: row;
  margin-left: auto;
}

.appBar__searchButton {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.appBar__searchButton__rounded {
  display: flex;
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20%;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}

.appBar__searchContainer {
  --containerWidth: var(--mainContainerWidth);
  width: calc(var(--containerWidth) / 2);
}

.appBar__searchContainer__results {
  padding: 8px;
  max-height: 200px;
  overflow-y: auto;
}

.appBar__searchContainer__loading {
  display: flex;
  justify-content: center;
}

.appBar__searchContainer__error {
  font-size: 12px;
  font-style: italic;
}

.appBar__searchContainer__results table {
  width: 100%;
}

.appBar__searchItem:hover {
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

.appBar__profile {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: auto;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  outline: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}

.appBar__profile__defaultProfilePicture {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

.appBar__profile__profilePicture {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(74, 105, 132);
  border-radius: 5px;
  margin-right: 10px;
}
