:root {
  --mainContentWidth: calc(var(--mainContainerWidth) - var(--mainContainerPadding) * 2);
  --feedPadding: 15px;
}

.main__noAccount {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    rgb(82, 127, 163) 350px,
    rgb(244, 244, 244) 1%,
    rgb(244, 244, 244) 54%
  );
}

.main__noAccount__container {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.main__noAccount__textContent {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.main__noAccount__logoContainer {
  /* width + textbox paddings */
  width: calc(350px + 20px * 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main__noAccount__logo {
  width: 255px;
}

.main__noAccount__textBox {
  width: 100%;
  max-width: 350px;
  background-color: rgb(244, 244, 244);
  margin-top: 30px;
  padding: 20px;
  padding-top: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.main__noAccount__textBox h2 {
  color: rgb(6, 54, 95);
}

.feed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.feed__item {
  display: flex;
  flex-direction: row;
}

.feed hr {
  --hrColor: rgb(189, 189, 189);
  width: calc(100% - 50px);
  height: 1px;
  border: 0;
  margin: 0 25px;
  color: var(--hrColor);
  background-color: var(--hrColor);
  border-color: var(--hrColor);
}

.feed__userContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  max-height: var(--mainContainerWidth);
}

.feed__photoContainer {
  flex: 0 0 calc(var(--mainContainerWidth));
  background-color: rgb(224, 224, 224);
  border-left: 2px solid var(--borderColorDark);
  border-right: 2px solid var(--borderColorDark);
}

.feed__emptyContainer {
  flex: 1;
}

.feed__loading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 15%;
}

.feed__userContent {
  display: flex;
  padding-top: var(--feedPadding);
  padding-right: var(--feedPadding);
  flex-direction: row-reverse;
  overflow: hidden;
}

.feed__userContent__avatar {
  --avatarWidth: 35px;
  flex: 0 0 var(--avatarWidth);
  width: var(--avatarWidth);
  height: var(--avatarWidth);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: var(--borderColorLight);
  border: 1px solid var(--borderColorDark);
  margin-left: 5px;
}

.feed__userContent__text {
  text-align: right;
  font-weight: 600;
}

.feed__userContent__textDate {
  font-size: smaller;
  color: rgb(168, 168, 168);
}

.feed__captionText {
  flex: 1;
  max-width: 250px;
  align-self: flex-end;
  padding-top: var(--feedPadding);
  padding-right: var(--feedPadding);
  overflow: hidden;
  font-weight: 600;
  font-size: smaller;
  color: rgb(111, 111, 111);
}

.feed__defaultContent {
  padding: var(--feedPadding);
  width: 100%;
}

.feed__photoContent {
  margin: var(--feedPadding);
  box-shadow: 0px 0px 8px 5px rgb(182, 182, 182);
}

.feed__photoContent__photo {
  width: 100%;
  aspect-ratio: 1.0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: var(--borderColorLight);
}

.feed__photoContent__likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: rgb(252, 252, 252);
}

.feed__photoContent__likes__button {
  border-right: 1px solid var(--borderColorDark);
}

.feed__photoContent__likes__likers {
  flex: 1;
  font-size: small;
  color: rgb(168, 168, 168);
  padding: 0 10px;
}

.feed__photoContent__comments {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(252, 252, 252);
  border-top: 1px solid var(--borderColorDark);
  font-weight: 600;
  font-size: small;
}
