:root {
  --profileCoverPhotoHeight: 80px;
  --profileBackgroundHeight: calc(var(--profileCoverPhotoHeight) + 30px);
}

.profilePage__background {
  width: 100%;
  min-height: var(--profileBackgroundHeight);
  background-image: linear-gradient(rgb(36, 36, 36), rgb(41, 41, 41));
}

.profilePage__coverPhoto {
  width: 55%;
  min-width: 400px;
  max-width: 1050px;
  min-height: var(--profileCoverPhotoHeight);
  margin: calc(var(--profileCoverPhotoHeight) * -1 - 2px) auto 0;
  border: 2px solid black;
  border-bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgb(68, 68, 68);
}

.profilePage__container {
  width: 55%;
  min-width: 400px;
  max-width: 1050px;
  min-height:
    /* 100vh - profile background height - logo height - appbar padding - border */
    calc(100vh - var(--profileBackgroundHeight) - 42px - (10px * 2) - 2px);
  margin: 0 auto 0;
  background-color: rgb(234, 234, 234);
  border: 2px solid var(--borderColorDark);
  border-top: 0;
}

.profilePage__topBar {
  width: 100%;
  min-width: 400px;
  padding-bottom: 20px;
  background-color: rgb(252, 252, 252);
  border-bottom: 2px solid var(--borderColorLight);
}

.profilePage__profilePicture {
  display: flex;
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 110px;
  max-height: 135px;
  background-color: white;
  margin-top: -55px;
  margin-left: 25px;
  padding-bottom: 10px;
  border: 1px solid var(--borderColorLight);
  border-radius: 5px;
}

.profilePage__profilePicture__picture {
  width: 100px;
  height: 100px;
  margin-top: 5px;
  border: 1px solid var(--borderColorDark);
  border-radius: 5px;
}

.profilePage__topBar__textFlexBox {
  display: flex;
  width: calc(100% - (25px + 30px));
  justify-content: space-evenly;
  align-items: center;
  margin: 0 30px;
  padding-top: 15px;
}

.profilePage__topBar__fillerFlex {
  flex: 0 0 130px;
}

.profilePage__topBar__textContainer {
  flex: 4;
}

.profilePage__buttonsOuterBox {
  display: block;
  padding: 5px;
  background-color: rgb(249, 249, 249);
  border: 2px solid var(--borderColorLight);
  border-radius: 5px;
}

.profilePage__buttonsFlexBox {
  display: flex;
  flex-direction: row;
}

.profilePage__buttonsFlexBox__textBox {
  padding: 0 6px;
  padding-bottom: 5px;
  border-right: 1px solid var(--borderColorDark);
  text-align: center;
}

.profilePage__buttonsFlexBox__number {
  font-size: 14px;
  font-weight: 700;
  color: rgb(38, 38, 38);
  margin-bottom: -2px;
}

.profilePage__buttonsFlexBox__label {
  font-size: 11px;
  font-weight: 600;
  color: rgb(142, 142, 142);
}

.profilePage__imageModal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
}

.profilePage__imageModal div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
