:root {
  --borderColorDark: rgb(211, 211, 211);
  --borderColorLight: rgb(227, 227, 227);
  --appBarWidthOfScreen: 80%;
  --contentWidthOfScreen: 85%;
  --minContentWidth: 410px;
  --maxContentWidth: 1050px;
  --logoHeight: 42px;

  --appBarHeight: calc(var(--logoHeight) + 10px * 2);
  --mainContainerMinWidth: calc(var(--minContentWidth));
  --mainContainerMaxWidth: calc(var(--minContentWidth) + 150px);
  --mainContainerWidth: min(max(calc(100vw * 0.8), var(--mainContainerMinWidth)), var(--mainContainerMaxWidth));
  --mainContainerPadding: 20px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.strongerFont {
  font-size: larger;
  font-weight: 600;
}

.smallerButBoldedFont {
  font-size: 13px;
  font-weight: 600;
  color: rgb(38, 38, 38);
}

.smallerGrayedFont {
  font-size: 13px;
  font-weight: 400;
  color: rgb(142, 142, 142);
}

.errorText {
  font-size: 12px;
  padding-left: 5px;
  color: #d73a4a;
}

.main {
  background-color: rgb(236, 236, 236);
}

.main__container {
  width: var(--mainContainerWidth);
  /* 100vh - appbar height */
  min-height: calc(100vh - var(--appBarHeight));
  background-color: rgb(224, 224, 224);
  border-left: 2px solid var(--borderColorDark);
  border-right: 2px solid var(--borderColorDark);
  margin: 0 auto;
}

.main__content {
  width: 100%;
  padding: var(--mainContainerPadding);
}

.notFound__container {
  /* 100vh - appbar height - content margin */
  min-height: calc(100vh - var(--appBarHeight) - 10vh);
  text-align: center;
}

.notFound__content {
  margin-top: 10vh;
}

.errorModal {
  --errorModalWidth: 200px;
  width: var(--errorModalWidth);
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - (var(--errorModalWidth) / 2));
  padding: 20px;
  background-color: rgb(252, 252, 252);
  text-align: center;
}

.errorModal__return__content {
  margin-top: 25px;
}

.default__userItem {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

.default__userItem__avatar {
  --avatarWidth: 35px;
  flex: 0 0 var(--avatarWidth);
  width: var(--avatarWidth);
  height: var(--avatarWidth);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: var(--borderColorLight);
  border-radius: 50%;
}

.default__userItem__textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.default__userItem__textContainer__username {
  font-weight: 600;
}

.default__userItem__textContainer__personname {
  color: rgb(175, 175, 175);
}
